.navbar__item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  margin: 0 24px 0 0;
}

.navbar__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .navbar__item {
    font-size: 14px;
    line-height: 17px;
  }

  .navbar__item:last-of-type {
    margin-right: 30px;
  }
}
