.loading-spinner {
  height: 99vh;
  margin: 0 auto;
  background-image: url(../../images/loading.svg);
  background-repeat: no-repeat;
  background-position: center 15vh;
  background-size: max(5vw, 5vh);
}