.profile__text {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .profile__text {
    text-align: center;
  }
}
