.profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  align-items: center;
  
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .profile {
    grid-template-columns: max-content 1fr;
    grid-auto-flow: row;

    gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    grid-template-columns: 1fr;
  }
}
