.button_type_submit-disabled {
  background-color: #fff;
  color: #C4C4C4;

  border-radius: 2px;
  border: 1px solid #C4C4C4;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  pointer-events: none;

  padding: 13px;
}

.button_type_submit-disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .button_type_submit-disabled {
    font-size: 14px;
    line-height: 17px;
  }
}
