.button_type_like {
  background-image: url(../../../images/like-button.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  min-width: 20px;
  min-height: 20px;
}
